@charset "utf-8";
/* CSS Document */
.light_gray10 {
	font-size:10px;
	color: #9F9FA0;
	line-height:22px;
}
.light_gray10 a:link {
	color:#9F9FA0;
	text-decoration:none;
}
.light_gray10 a:visited {
	color:#9F9FA0;
	text-decoration:none;
}
.light_gray10 a:hover {
	color:#006CB3;
	text-decoration:none;
}
.light_gray10 a:active {
	color:#006CB3;
	text-decoration:none;
}
.light_gray12 {
	font-size:12px;
	color:#808080;
}
.light_gray12 a:link {
	color:#808080;
	text-decoration:none;
}
.light_gray12 a:visited {
	color:#808080;
	text-decoration:none;
}
.light_gray12 a:hover {
	color:#006CB3;
	text-decoration:none;
}
.light_gray12 a:active {
	color:#006CB3;
	text-decoration:none;
}
.red12 {
	font-size:12px;
	color:#F00;
}
.black12 {
	font-size:12px;
	color:#000;
}
.black12-b {
	font-size:12px;
	color:#000;
	font-weight: bold;
}
.gray10 {
	font-size:10px;
	color:#4D4D4D;
}
.gray12 {
	font-size:12px;
	color:#333;/*text-indent:25px; 第一行固定內縮25px*/
	font-weight: normal;
}
.gray12 a:link {
	color:#333;
	text-decoration:none;
}
.gray12 a:visited {
	color:#333;
	text-decoration:none;
}
.gray12 a:hover {
	color:#006CB3;
	text-decoration:none;
}
.gray12 a:active {
	color:#006CB3;
	text-decoration:none;
}
.gray12-b {
	font-size:12px;
	color:#4D4D4D;
	font-weight: bold;
}
.gray12_2 {
	font-size:12px;
	color:#4D4D4D;
}
.gray12_2 a:link {
	color:#4D4D4D;
	text-decoration:none;
}
.gray12_2 a:visited {
	color:#4D4D4D;
	text-decoration:none;
}
.gray12_2 a:hover {
	color:#006CB3;
	text-decoration:none;
}
.gray12_2 a:active {
	color:#006CB3;
	text-decoration:none;
}
.gray12_3 {
	font-size:12px;
	color:#333;
	text-indent:25px;
}
.gray12_4 {
	font-size:12px;
	color:#333;
	text-indent:5px;
}
.gray12_5 {
	font-size:12px;
	color:#333;
	line-height:18px;
}
.gray12_6 {
	font-size:12px;
	color:#333;
	text-indent:19px;
}
.gray12_7 {
	font-size:12px;
	color:#333;
	text-indent:30px;
}
.green12 {
	font-size:12px;
	color: #00925F;
}
.green12 a:link {
	color:#00925F;
	text-decoration:none;
}
.green12 a:visited {
	color:#00925F;
	text-decoration:none;
}
.green12 a:hover {
	color:#006CB3;
	text-decoration:none;
}
.green12 a:active {
	color:#006CB3;
	text-decoration:none;
}
.green12_b {
	font-size:12px;
	color: #00925F;
	font-weight: bold;
}
.green12_2_b {
	font-size:12px;
	color:#7C985F;
	font-weight: bold;
}
.green12_3 {
	font-size:12px;
	color:#006F4E;
}
.green12_3 a:link {
	color:#006F4E;
	text-decoration:none;
}
.green12_3 a:visited {
	color:#006F4E;
	text-decoration:none;
}
.green12_3 a:hover {
	color:#006CB3;
	text-decoration:none;
}
.green12_3 a:active {
	color:#006CB3;
	text-decoration:none;
}
.green12_4 {
	font-size:12px;
	color:#006F4E;
	text-indent:25px;
}
.green14_b {
	font-size:14px;
	color:#7C985F;
	font-weight: bold;
}
.green14_3_b {
	font-size:14px;
	color: #006F4E;
	font-weight: bold;
}
.light_blue12 {
	font-size:12px;
	color:#8BA3C1;
}
.blue12 {
	font-size:12px;
	color:#006CB3;
}
.blue12 a:link {
	color:#006CB3;
	text-decoration:none;
}
.blue12 a:visited {
	color:#006CB3;
	text-decoration:none;
}
.blue12 a:hover {
	color:#4D4D4D;
	text-decoration:none;
}
.blue12 a:active {
	color:#4D4D4D;
	text-decoration:none;
}
.blue12_mail {
	font-size:12px;
	color:#006CB3;
	text-indent:5px;
}
.blue12_mail a:link {
	color:#006CB3;
	text-decoration:none;
}
.blue12_mail a:visited {
	color:#006CB3;
	text-decoration:none;
}
.blue12_mail a:hover {
	color:#00925F;
	text-decoration:none;
}
.blue12_mail a:active {
	color:#00925F;
	text-decoration:none;
}
.blue12_b {
	font-size:12px;
	color:#006CB3;
	font-weight: bold;
}
.blue12_b a:link {
	color:#006CB3;
	text-decoration:none;
}
.blue12_b a:visited {
	color:#006CB3;
	text-decoration:none;
}
.blue12_b a:hover {
	color:#4D4D4D;
	text-decoration:none;
}
.blue12_b a:active {
	color:#4D4D4D;
	text-decoration:none;
}
.blue12_2 {
	font-size:12px;
	color:#006D79;
}
.blue12_3 {
	font-size:12px;
	color:#006CB3;
	text-indent:25px;
}
.blue13 {
	font-size:13px;
	color:#006CB3;
}
.blue13-b {
	font-size:13px;
	color:#006CB3;
	font-weight: bold;
}
.blue14 {
	font-size:14px;
	color:#006CB3;
}
.blue14-b {
	font-size:14px;
	color:#006CB3;
	font-weight: bold;
}
.blue15 {
	font-size:15px;
	color:#006CB3;
}
.blue15-b {
	font-size:15px;
	font-weight:bold;
	color:#006CB3;
}
.blue15-b a:link {
	color:#006CB3;
	text-decoration:none;
}
.blue15-b a:visited {
	color:#006CB3;
	text-decoration:none;
}
.blue15-b a:hover {
	color:#00925F;
	text-decoration:none;
}
.blue15-b a:active {
	color:#00925F;
	text-decoration:none;
}
.orange12 {
	font-size:12px;
	color:#E35B00;
}
.table {
	background:#E6EBDB;
	border-collapse:collapse;
}
.table td, th {
	padding:5px;
	border-right:1px solid #FFF;
}
.table tr {
	border-top:1px solid #333;
	border-bottom:1px solid #869B6E;
}
.table thead th, tfoot th {
	background:#BBC595;
}
.table_ball {
	background:#FFF;
	border:2px solid #81AB78;
	border-radius:10px;
}
.table_2 {/*product01_1_1*/
	background:#F0E1C0;
	border-collapse:collapse;
}
.table_2 td, th {
	padding:2px;
	border-right:1px solid #D9D9D9;
	border-left:1px solid #D9D9D9;
}
.table_2 tr {
	border-top:1px solid #006CB6;
	border-bottom:1px solid #006CB6;
}
.table_2 thead th, tfoot th {
	background:#C0CDE1;
}
.table_2_2 {/*product01_1_1*/
	background:#F0E1C0;
	border-collapse:collapse;
}
.table_2_2 td, th {
	padding:1px;
	border-right:1px solid #F0E1C0;
	border-left:1px solid #F0E1C0;
}
.table_2_2 tr {
	border-top:1px solid #F0E1C0;
	border-bottom:1px solid #F0E1C0;
}
.table_2_2 thead th, tfoot th {
	background:#F0E1C0;
}
.table_3 {/*product01_2_1*/
	background:#EEE3DA;
	border-collapse:collapse;
}
.table_3 td, th {
	padding:2px;
	border-right:1px solid #D9D9D9;
	border-left:1px solid #D9D9D9;
}
.table_3 tr {
	border-top:1px solid #006CB6;
	border-bottom:1px solid #006CB6;
}
.table_3 thead th, tfoot th {
	background:#C0CDE1;
}
.table_3_2 {/*product01_2_1*/
	background:#EEE3DA;
	border-collapse:collapse;
}
.table_3_2 td, th {
	padding:1px;
	border-right:1px solid #EEE3DA;
	border-left:1px solid #EEE3DA;
}
.table_3_2 tr {
	border-top:1px solid #EEE3DA;
	border-bottom:1px solid #EEE3DA;
}
.table_3_2 thead th, tfoot th {
	background:#EEE3DA;
}
.table_4 {/*product01_3_1*/
	background:#D7E3F0;
	border-collapse:collapse;
}
.table_4 td, th {
	padding:2px;
	border-right:1px solid #D9D9D9;
	border-left:1px solid #D9D9D9;
}
.table_4 tr {
	border-top:1px solid #006CB6;
	border-bottom:1px solid #006CB6;
}
.table_4 thead th, tfoot th {
	background:#C0CDE1;
}
.table_4_2 {/*product01_3_1*/
	background:#D7E3F0;
	border-collapse:collapse;
}
.table_4_2 td, th {
	padding:1px;
	border-right:1px solid #D7E3F0;
	border-left:1px solid #D7E3F0;
}
.table_4_2 tr {
	border-top:1px solid #D7E3F0;
	border-bottom:1px solid #D7E3F0;
}
.table_4_2 thead th, tfoot th {
	background:#D7E3F0;
}
.table_5 {/*product01_4_1*/
	background:#D7E1E3;
	border-collapse:collapse;
}
.table_5 td, th {
	padding:2px;
	border-right:1px solid #D9D9D9;
	border-left:1px solid #D9D9D9;
}
.table_5 tr {
	border-top:1px solid #006CB6;
	border-bottom:1px solid #006CB6;
}
.table_5 thead th, tfoot th {
	background:#C0CDE1;
}
.table_5_2 {/*product01_4_1*/
	background:#D7E1E3;
	border-collapse:collapse;
}
.table_5_2 td, th {
	padding:1px;
	border-right:1px solid #D7E1E3;
	border-left:1px solid #D7E1E3;
}
.table_5_2 tr {
	border-top:1px solid #D7E1E3;
	border-bottom:1px solid #D7E1E3;
}
.table_5_2 thead th, tfoot th {
	background:#D7E1E3;
}
.table_6 {/*product02_2_1*/
	background:#E4F1F2;
	border-collapse:collapse;
}
.table_6 td, th {
	padding:2px;
	border-right:1px solid #C4CECF;
	border-left:1px solid #C4CECF;
}
.table_6 tr {
	border-top:1px solid #6FA5C7;
	border-bottom:1px solid #C4CECF;
}
.table_6 thead th, tfoot th {
	background:#D1E7EA;
}
.table_7 {/*product02_3(最外圍)*/
	border:1px solid #C4CECF;
}
.table_8 {/*product02_3*/
	border:1px solid #5DA9CA;
	border-collapse:collapse;
}
.table_8 td, th {
	padding:2px;
	border-right:1px solid #5DA9CA;
	border-left:1px solid #5DA9CA;
}
.table_8 tr {
	border-top:1px solid #5DA9CA;
	border-bottom:1px solid #5DA9CA;
}
.gray12 a.show_links{
	color:#006CB3;
}