.x-grid-cell-inner{
	font-size:14px;
}
.x-grid3-row-over{
	background:#FFFDD1;
}
.x-grid3-row td, .x-grid3-summary-row td{
	font-size:14px;
}
.x-form-display-field{
	background-color:#EEE;
	border-color:#B5B8C8;
	color:#814646;
	height:18px;
	border:1px #B5B8C8 solid;
	padding:1px 3px;
	width:132px;
}
.form-txt{
	background:transparent;
	padding:0;
	border:none;
	width:5px;
}
.lang_tw{
	color:#00F;
}
.lang_cn{
	color:#328654;
}
.lang_en{
	color:#863232;
}