@charset "utf-8";
/* CSS Document */
img {
	border: 0 none;
}
html, body {
	height: 100%;
}
body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	line-height:22px;
	background-image:url(../images/page_bg.jpg);
	background-repeat:repeat;
}
#wrap {
	margin:0 auto;
	width:998px;
	min-height: 100%;
	background-image: url(../images/wrap_bg.jpg);
	background-repeat:repeat-y;
}
#wrap_2 {
	margin:0 auto;
	width:998px;
	min-height: 100%;
	background-image: url(../images/wrap_bg02.jpg);
	background-repeat:repeat-y;
}
#wrap_map {
	margin:0 auto;
	width:998px;
	min-height: 100%;
	background-color:#FFF;
}
#main {
	overflow:auto;
	padding-bottom:0px;
}
#langue {
	margin:0px auto;
	width:866px;
	height:60px;
	background-color:#FFF;
}
#logo {
	margin:0px auto;
	width:866px;
	height:100px;
	background-color:#FFF;
}
#top {
	margin:0px auto;
	overflow:hidden;
	width:866px;
	height:35px;
	background-color:#FFF;
}
#top_btn {
	float:left;
	width:866px;
	height:35px;
}
#top_search {
	float:right;
	width:266px;
	height:35px;
}
#content {
	margin-left:66px;
	overflow:hidden;
	width:866px;
}
#content_left {
	position:absolute;
	float:left;
	width:171px;
}
#content_left_2 {/*member*/
	position:absolute;
	float:left;
	width:224px;
}
#content_top {
	width:688px;
	height:197px;
	float:right;
}
#content_top_2 {/*news02,service04*/
	width:688px;
	height:145px;
	float:right;
}
#content_top_3 {/*member*/
	width:635px;
	height:115px;
	float:right;
}
#content_top_4 {/*product*/
	width:688px;
	height:205px;
	float:right;
}
#content_top_5 {/*product,about04*/
	width:688px;
	height:188px;
	float:right;
}
#content_top_6 {/*about03,about05_4,about05_7*/
	width:688px;
	height:120px;
	float:right;
}
#content_top_7 {/*about05_2*/
	width:688px;
	height:158px;
	float:right;
}
#content_main {
	width:688px;
	margin-top:26px;
	float:right;
	background-image:url(../images/text_bg.jpg);
	background-repeat:repeat-x;
}
#content_main_2 {/*member*/
	width:635px;
	margin-top:26px;
	float:right;
	background-image:url(../images/text_bg.jpg);
	background-repeat:repeat-x;
}
#content_main_3 {/*news,product,about,map*/
	width:688px;
	float:right;
	background-image:url(../images/text_bg.jpg);
	background-repeat:repeat-x;
}
#content_main_4 {/*product02_2*/
	width:688px;
	float:right;
	background-image:url(../images/text_bg03.jpg);
	background-repeat:repeat-x;
}
#content_main_5 {/*product02_4*/
	width:688px;
	float:right;
	background-image:url(../images/text_bg04.jpg);
	background-repeat:repeat-x;
}
#content_main_6 {/*service*/
	width:688px;
	float:right;
	background:#FFF;
}
#content_main_7 {/*service02_1*/
	width:433px;
	float:left;
	background-image:url(../images/text_bg.jpg);
	background-repeat:repeat-x;
}
#content_main_8 {/*service02_1*/
	width:250px;
	float:right;
	background-image:url(../images/text_bg.jpg);
	background-repeat:repeat-x;
}
#content_main_9 {/*product02_3*/
	width:688px;
	float:right;
	overflow:auto;
	background-image:url(../images/text_bg03.jpg);
	background-repeat:repeat-x;
}
#content_main_map {/*map*/
	width:866px;
	float:right;
	overflow:auto;
	background:#FFF;
}
#footer {
	width:998px;
	position: relative;
	margin:0px auto;
	margin-bottom: -30px;
	height: 30px;
	clear:both;
	background-image: url(../images/wrap_bg.jpg);
}
#footer02 {
	width:998px;
	position: relative;
	margin:0px auto;
	margin-bottom: -30px;
	height: 30px;
	clear:both;
	background-image: url(../images/wrap_bg02.jpg);
}
#footer_map {
	width:998px;
	position: relative;
	margin:0px auto;
	margin-bottom: -30px;
	height: 30px;
	clear:both;
	background-color:#FFF;
}
#footer_text {
	margin:0px auto;
	width:866px;
	height:40px;
}
#item {
	list-style-type:none;
	margin-top:5px;
	margin-left:33px;
	width:622px;
}
#item_2 {/* slide up-down*/
	width:632px;
}
.item_block {/*news*/
	width:540px;
	margin-left:33px;
	padding-left:80px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px #898989 solid;
}
#item_about {/*about題目*/
	list-style-type:none;
	width:510px;
	border-bottom:1px #C9CACA solid;
}
#item_news {/*news題目*/
	list-style-type:none;
	width:622px;
}
#item_block_about {/*about答案*/
	list-style-type:none;
    width:510px;
	padding-bottom:10px;
}
#item_block_news {/*news答案*/
	width:500px;
	margin-left:33px;
	padding-left:80px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px #898989 solid;
}
#about_block{/*about包住題目+答案*/
	width:510px;
	padding-left:10px;
	border-left:1px #898989 solid;
}
#news_block{/*news包住題目+答案*/
	list-style-type:none;
	margin-top:5px;
	margin-left:33px;
	width:622px;
}
#item_block_2 {/* slide up-down*/
	width:632px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px #4D4D4D solid;
}
#tabel_year {
	width:688px;
}
#main_about {
	width:632px;
	margin-left:28px;
}
#link {
	width:632px;
	margin-left:28px;
}
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}