@charset "utf-8";
/* CSS Document */
img {
	border: 0 none;
}
html, body {
	height: 100%;
}
body {
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	line-height:22px;
	background-image:url(../images/page_bg.jpg);
	background-repeat:repeat;
}
#wrap {
	margin:0 auto;
	width:998px;
	min-height: 100%;
	background-color:#FFF;
}
#main {
	overflow:auto;
	padding-bottom:0px;
}
#logo {
	margin:0px auto;
	width:998px;
	height:260px;
}
#top {
	margin:0px auto;
	overflow:hidden;
	width:866px;
	height:80px;
}
#top_btn {
	float:left;
	width:600px;
	height:25px;
}
#top_langue {
	float:right;
	width:266px;
	height:25px;
}
#top_btn02 {
	float:left;
	width:600px;
	height:50px;
}
#top_search {
	float:right;
	overflow:hidden;
	width:266px;
	height:50px;
}
#flash {
	margin-left:66px;
	overflow:hidden;
	width:866px;
}
#content {
	margin-top:5px;
	margin-left:66px;
	overflow:hidden;
	width:866px;
	height:150px;
}
#down {
	margin-top:35px;
	margin-left:66px;
	width:866px;
	height:25px;
}
#footer {
	position: relative;
	margin-top: -60px;
	height: 60px;
	clear:both;
	background-color: #FFF;
}
#footer_text {
	margin:0px auto;
	width:866px;
	height:40px;
}
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}
