@charset "UTF-8";
/* CSS Document */
#sitemap_bg{
	width:866px;
	height:80px;
	background:url(../images/text_bg05.jpg) repeat-x;
}
#sitemap-content {
	width:800px;
	margin:0 auto;
	overflow: hidden;
}
#alpha {
	float: left;
	width: 400px;
	padding: 9px 0 15px;
	background:#FFF;
}
#beta {
	float: right;
	width: 400px;
	padding: 15px 0;
	background:#FFF;
}
#sitemap-content p.toppage {
	margin: 0 16px;
	padding-left: 18px;
	background: url(../images/map/icon.gif) no-repeat 0 50%;
}
ul.sitemap {
	margin: 0 10px 0 20px;
	background: url(../images/map/tree_base.gif) repeat-y 0 0;
}
#alpha ul.sitemap {
	padding-bottom: 18px;
}
#beta ul.sitemap {
	padding-top: 18px;
}
ul.sitemap ul {
	list-style-type:none;
	margin: 0 10px;
	background: url(../images/map/tree_base.gif) repeat-y 0 0;
}
ul.sitemap ul ul {
	margin: 0 10px;
	background: url(../images/map/tree_base.gif) repeat-y 0 0;
}
ul.sitemap li {
	list-style-type:none;
	padding-left: 36px;
	background:url(../images/map/tree_lv1_1.png) no-repeat 0 0;
}
ul.sitemap li.end {
	background: #FFF url(../images/map/tree_lv1_2.png) no-repeat 0 0;
}
ul.sitemap ul li {
	background:url(../images/map/tree_lv2_1.png) no-repeat 0 0;
}
ul.sitemap ul li.end {
	background:#FFF url(../images/map/tree_lv2_2.png) no-repeat 0 0;
}
ul.sitemap ul ul li {
	background:url(../images/map/tree_lv3_1.png) no-repeat 0 0;
}
ul.sitemap ul ul li.end {
	background:#FFF url(../images/map/tree_lv3_2.png) no-repeat 0 0;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, object {
	margin: 0;
	padding: 0;
}
